@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes countdown {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 565.48px;
  }
}

.animate {
  animation-name: countdown;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
